.frontend {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .frontend * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .frontend h1, .frontend h2, .frontend h3, .frontend h4, .frontend h5 {
    font-family: "Cantata One", serif;
    color: #303030; }
  .frontend p {
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #969696; }
