// Colour scheme
$grey1: #303030
$grey2: #505050
$grey3: #969696
$grey4: #c3c3c3
$grey5: #dfdfdf
$grey6: #f6f6f6
$white: #ffffff

// Font stacks
$h-stack: "Cantata One", serif
$p-stack: "Open Sans", Helvetica, sans-serif

// Max width
$max-width: 700px

// Animation
@keyframes flicker
  0%
    filter: brightness(0)
  100%
    filter: brightness(1)

@keyframes fade
  0%
    opacity: 0
    transform: scale(1.2)
  100%
    opacity: 1
    transform: scale(1)

@keyframes fade2
  0%
    opacity: 0
  100%
    opacity: 1

// Don't affect admin pages
.frontend
  margin: 0
  padding: 0
  box-sizing: border-box
  position: relative
  width: 100%
  *
    margin: 0
    padding: 0
    box-sizing: border-box

  // Typography
  h1, h2, h3, h4, h5
    font-family: $h-stack
    color: $grey1
  p
    font-family: $p-stack
    color: $grey3

  a.button, ul.pagination li a
    display: inline-block
    padding: 12px
    font-size: 0.8em
    font-family: $p-stack
    text-transform: uppercase
    font-weight: 700
    letter-spacing: 2px
    border: 5px solid $grey1
    color: $white
    background-color: $grey1
    text-decoration: none
    min-width: 140px
    text-align: center
    margin-top: 20px
    border-radius: 1px
    transition: 0.1s
    &:hover
      filter: brightness(1.5)
    &.outline
      background-color: rgba(0,0,0,0)
      color: $grey1

ul.pagination li.previous a
  background-color: rgba(0,0,0,0)
  color: $grey1
